<CurrentWeather @date={{this.date}} @currentWeather={{@weatherData.current}} />
<div class="daily-forecast-wrapper">
  {{#each this.sevenDayForecast as |dailyForecast|}}
    <DailyForecast @dailyForecast={{dailyForecast}} />
  {{/each}}
</div>
